
# VS & compiler folders:
**/.vs/
**/bin/
**/obj/
**/.deps/
**/.distfiles/
**/.setups/

# Windows shortcuts
*.lnk

# Sensetive:
wingram.session
default.ini
**/WinGram_Data/
**/Windows Icons - ICO/